# Default ignored files
.idea/
.windsurf/
.claude/
.ai-kanban
docs-site/.vitepress/.temp

reports/*
!reports/.gitkeep

node_modules
test-server/node_modules
yarn-error.log
dist
temp
bin
poc
coverage

CLAUDE.md